html{
    position: relative;
}

body{
    margin-bottom: 100px;
}

section{
    background-color:gainsboro
}

nav.menu  ul  {
    overflow:  hidden;
    list-style:  none;
    float:  left; padding:  0;
    width:  100%;
    margin:  0  0  0;
    background: yellowgreen;
    }

nav.menu  ul  li  { margin:  0; float:  left;
    }

nav.menu  ul  a  {
    padding:  30px;
    display:  block;
    font-weight:  400;
    font-size:  16px;
    color: black;
    text-transform:
    uppercase; transition:
    all  0.5s  ease;
    text-decoration:  none;

}

.jumbotron img{
    width: 150px;
}

section{
    min-height: 900px;
}
.footer{
    position: inherit;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color:yellowgreen;
    padding-top: 20px;
}
